{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="mb-4 text-center">Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form_row(registrationForm.nom, {
                                    'attr': {'class': 'form-control', 'placeholder': 'Nom '}
                                }) }}
                            </div>
                    
                            <div class="mb-3">
                                {{ form_row(registrationForm.prenom, {
                                    'attr': {'class': 'form-control', 'placeholder': 'Prénom'}
                                }) }}
                            </div>
                    
                            <div class="mb-3">
                                {{ form_row(registrationForm.username, {
                                    'attr': {'class': 'form-control', 'placeholder': 'Nom d\'utilisateur'}
                                }) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form_row(registrationForm.email, {
                                    'attr': {'class': 'form-control', 'placeholder': 'E-mail'}
                                }) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(registrationForm.plainPassword, {
                                    'label': 'Mot de passe',
                                    'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}
                                }) }}
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-check">
                        {{ form_row(registrationForm.agreeTerms, {
                            'attr': {'class': 'form-check-input'}
                        }) }}
                        <label class="form-check-label" for="agreeTerms">
                            Acceptez les <a href="#" class="text-primary">termes et conditions</a>
                        </label>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-sm">S'inscrire</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(registrationForm) }}
</div>
{% endblock %}