{% extends 'base.html.twig' %}

{% block title %}LieuNaissances index{% endblock %}

{% block body %}
    <h1>LieuNaissances index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lieu_naissance in lieu_naissances %}
            <tr>
                <td>{{ lieu_naissance.id }}</td>
                <td>{{ lieu_naissance.designation }}</td>
                <td>
                    <a href="{{ path('app_lieu_naissances_show', {'slug': lieu_naissance.slug}) }}">show</a>
                    <a href="{{ path('app_lieu_naissances_edit', {'slug': lieu_naissance.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lieu_naissances_new') }}">Create new</a>
{% endblock %}
