{% extends 'base.html.twig' %}

{% block title %}Postes index{% endblock %}

{% block body %}
    <h1>Postes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poste in postes %}
            <tr>
                <td>{{ poste.id }}</td>
                <td>{{ poste.designation }}</td>
                <td>{{ poste.createdAt ? poste.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ poste.updatedAt ? poste.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ poste.slug }}</td>
                <td>
                    <a href="{{ path('app_postes_show', {'id': poste.id}) }}">show</a>
                    <a href="{{ path('app_postes_edit', {'id': poste.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_postes_new') }}">Create new</a>
{% endblock %}
