{% extends 'base.html.twig' %}

{% block title %}DossierPersonnel{% endblock %}

{% block body %}
    <h1>DossierPersonnel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dossier_personnel.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ dossier_personnel.designation }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ dossier_personnel.createdAt ? dossier_personnel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ dossier_personnel.updatedAt ? dossier_personnel.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ dossier_personnel.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dossier_personnel_index') }}">back to list</a>

    <a href="{{ path('app_dossier_personnel_edit', {'id': dossier_personnel.id}) }}">edit</a>

    {{ include('dossier_personnel/_delete_form.html.twig') }}
{% endblock %}
