{% extends 'base.html.twig' %}

{% block title %}Telephones2{% endblock %}

{% block body %}
    <h1>Telephones2</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ telephones2.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ telephones2.numero }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_telephones2_index') }}">back to list</a>

    <a href="{{ path('app_telephones2_edit', {'slug': telephones2.slug}) }}">edit</a>

    {{ include('telephones2/_delete_form.html.twig') }}
{% endblock %}
