{% extends 'base.html.twig' %}

{% block title %}Telephones1 index{% endblock %}

{% block body %}
    <h1>Telephones1 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for telephones1 in telephones1s %}
            <tr>
                <td>{{ telephones1.id }}</td>
                <td>{{ telephones1.numero }}</td>
                <td>
                    <a href="{{ path('app_telephones1_show', {'id': telephones1.id}) }}">show</a>
                    <a href="{{ path('app_telephones1_edit', {'id': telephones1.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_telephones1_new') }}">Create new</a>
{% endblock %}
