{% extends 'base.html.twig' %}

{% block title %}Telephones1{% endblock %}

{% block body %}
    <h1>Telephones1</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ telephones1.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ telephones1.numero }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_telephones1_index') }}">back to list</a>

    <a href="{{ path('app_telephones1_edit', {'slug': telephones1.slug}) }}">edit</a>

    {{ include('telephones1/_delete_form.html.twig') }}
{% endblock %}
