{% extends 'base.html.twig' %}

{% block title %}redoublements3 index{% endblock %}

{% block body %}
    <h1>redoublements3 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Scolarité 1</th>
                <th>Scolarité 2</th>
                <th>1er Redoublement</th>
                <th>2ème Redoublement</th>
                <th>Redoublement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for redoublements3 in redoublements3s %}
            <tr>
                <td>{{ redoublements3.id }}</td>
                <td>
                    {% for scolarite1 in redoublements3.scolarites1 %}
                        {{ scolarite1.scolarite }}<br> {# Affiche chaque élément de la collection scolarites1 #}
                    {% else %}
                        Aucune scolarité 1
                    {% endfor %}
                </td>
                <td>
                    {% for scolarite2 in redoublements3.scolarites2 %}
                        {{ scolarite2.scolarite }}<br> {# Affiche chaque élément de la collection scolarites2 #}
                    {% else %}
                        Aucune scolarité 2
                    {% endfor %}
                </td>
                <td>{{ redoublements3.redoublement2.redoublement1 }}</td>
                <td>{{ redoublements3.redoublement2 }}</td>
                <td>{{ redoublements3.niveau }}</td>
                <td>
                    <a href="{{ path('app_redoublements3_show', {'id': redoublements3.id}) }}">show</a>
                    <a href="{{ path('app_redoublements3_edit', {'id': redoublements3.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_redoublements3_new') }}">Create new</a>
{% endblock %}